@{
    ViewBag.Title = "Home Page";
 
}

<div class="jumbotron">
    <h1>Сайт в разработке!</h1>
    <div class=" col-md-12">
        <img src="http://clan-video.clan.su/_ph/1/2/527521791.gif" class="img-rounded img-responsive" alt="Сайт в разработке">
    </div>
</div>

<div class="row">
    @*<div class="col-md-4">
     
    </div>
    <div class="col-md-4">
      
    </div>
    <div class="col-md-4">
      
    </div>*@
 
</div>